    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>RSS reader results.</title>
</head>
<body>

{% for d in data %}
<div>
<h3>{{d['Feed']}}</h3>
<h4>
    {{d['Title']}}
</h4>
</div>
<div>
<p>
    {{d['Description']}}
</p>
<p>{{d['Date']}}</p>

<p>
    Link: <a href='{{d['Link']}}'>{{d['Link']}}</a>
</p>
</div>
<div>
{% if local %}
<img src=  {{'file:///' + d['Media']}}>
{% else %}
<img src={{d['Media']}} >
{% endif %}
 </div>
<div>
<p>
    Link: <a
        href='{{d['Media']}}'>Image</a>
</p>
    </div>
<p></p>
<p></p>
<p></p>
<p></p>
{% endfor %}

</body>
</html>